.category__pagination_root {
    display: grid;
    grid-auto-columns: 2.75rem;
    grid-template-rows: 1fr;
    grid-column-gap: 0.25rem;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    border-top: 1px solid #ccc;
    text-align: center;
}

.category__pagination_navbutton-inactive {
    color: #999;
}

.category__pagination_navbutton-arrow {
    display: grid;
    padding-bottom: 1px;
}

.category__pagination_tilebutton {
    grid-row-start: 1;
    outline: none;
}

.category__pagination_tilebutton-text {
    border: 0px;
}

.category__pagination_icon-root {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    touch-action: manipulation;
}

.category__pagination_tilebutton-marker {
    border: 1px solid;
    border-radius: 2px;
}

.category__pagination_button {
    background: none;
    border: 0;
    cursor: pointer;
    font-family: var(--venia-font);
    font-size: 100%;
    padding: 0;
    touch-action: manipulation;
    user-select: none;
    -webkit-appearance: none;
}

.category__pagination_button:disabled {
    cursor: default;
    touch-action: none;
}

.category__image {
    min-height: 460px;
    padding: 20px 0;
    margin-bottom: 40px;
    background: rgb(var(--venia-grey)) 50% no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}
