.productteaser .item__root {
    position: relative;
}

.productteaser .blank-placeholder {
    text-align: center;
    background-color: #fafafa;
    margin: 1rem 0;
    padding: 1rem;
    line-height: 3rem;
    border: 3px #ccc dashed;
}

.productteaser .blank-placeholder p {
    text-align: left;
}

.productteaser .item__images {
    display: grid;
    grid-template-areas: 'main';
}

.productteaser .item__image {
    display: block;
    grid-area: main;
    height: auto;
    opacity: 1;
    transition-duration: 512ms;
    transition-property: opacity, visibility;
    transition-timing-function: ease-out;
    visibility: visible;
    width: 100%;
}

.productteaser .item__name {
    position: absolute;
    display: block;
    top: 40%;
    left: 20%;
    text-transform: uppercase;
    font-size: 22px;
    color: #ffffff;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.9);
}

.productteaser .item__price {
    position: absolute;
    display: block;
    top: 45%;
    left: 20%;
    font-size: 18px;
    color: #ffffff;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.9);
}

@media (max-width: 768px) {
    .productteaser .item__name {
        font-size: 15px;
    }
    .productteaser .item__price {
        top: 60%;
        font-size: 10px;
    }
}

@media (max-width: 992px) {
    .productteaser .item__name {
        font-size: 18px;
    }
    .productteaser .item__price {
        top: 60%;
        font-size: 14px;
    }
}
