.cmp-teaser {
  position: relative;
}

.cmp-teaser .cmp-image__image {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.cmp-teaser .cmp-teaser__title, .cmp-teaser .cmp-teaser__description, .cmp-teaser .cmp-teaser__action-container {
  position: absolute;
  left: 10%;
  display: block;
  margin: 0;
  color: #ffffff;
  font-weight: 900;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}

.cmp-teaser .cmp-teaser__title {
  top: 25%;
  text-transform: uppercase;
  font-size: 30px;
}

.cmp-teaser .cmp-teaser__description {
  top: 35%;
  font-size: 20px;
}

.cmp-teaser .cmp-teaser__action-container {
  top: 50%;
  font-size: 15px;
  text-shadow: none;
}

.cmp-teaser .cmp-teaser__action-link {
    display: inline-block;
    font-weight: 600;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(255,255,255,0.1);
    border: 2px solid;
    padding: 0.375rem 1.75rem;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 1.25rem;
}

@media (max-width: 768px) {
  .cmp-teaser .cmp-teaser__title {
    font-size: 20px;
  }
  .cmp-teaser .cmp-teaser__description {
    font-size: 15px;
  }
  .cmp-teaser .cmp-teaser__action-link {
    font-size: 10px;
  }
}