.productcarousel__title {
    text-align: center;
    color: #333;
}

.productcarousel__root .price {
    font-size: 0.875rem;
    line-height: 1rem;
    margin: 0.5rem 0;
    min-height: 1rem;
}
.productcarousel__root .price .regularPrice {
    text-decoration: line-through;
    font-size: 0.8rem;
}

.productcarousel__root .price .discountedPrice {
    font-weight: bold;
    color: rgb(var(--venia-teal));
    font-size: 1.2rem;
}

.product__image {
    max-width: 240px;
    max-height: 240px;
}

.productcarousel__container {
    position: relative;
    margin: 25px auto;
    width: 240px;
}

@media screen and (min-width: 790px) {
    .productcarousel__container {
        width: 720px;
    }
}

@media screen and (min-width: 1090px) {
    .productcarousel__container {
        width: 960px;
    }
}

@media screen and (min-width: 1380px) {
    .productcarousel__container {
        width: 1200px;
    }
}

@media screen and (min-width: 1650px) {
    .productcarousel__container {
        width: 1440px;
    }
}

.productcarousel__root:before,
.productcarousel__root:after {
    content: "";
    display: table;
}

.productcarousel__root:after {
    clear: both;
}

.card {
    border: 10px solid #fff;
    float: left;
    font-size: 20px;
    text-align: center;
    width: 240px;
}

.productcarousel__root {
    overflow: hidden;
}

.productcarousel__cardscontainer {
    margin: auto;
}

.productcarousel__cardscontainer:before,
.productcarousel__cardscontainer:after {
    content: "";
    display: table;
}

.productcarousel__cardscontainer:after {
    clear: both;
}

.product__card {
    float: left;
}

.product__card__image {
    height: 243px;
}

.productcarousel__btn {
    background: transparent;
    border: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    height: 20px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 20px;
}

.productcarousel__btn--next {
    border-bottom: 8px solid #aaa;
    border-right: 8px solid #aaa;
    right: 0;
    -moz-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}

.productcarousel__btn--prev {
    border-bottom: 8px solid #aaa;
    border-left: 8px solid #aaa;
    left: 0;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media screen and (max-width: 769px) {
    .productcarousel__btn--next {
        right: 8%;
    }

    .productcarousel__btn--prev {
        left: 8%;
    }
}
